<a href="https://colab.research.google.com/github/dderaad/Hackathon-Summer-2021/blob/main/clfs_mk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# All of the paths for the relevant data sets are compiled into a list of urls
 
PATH = "https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/"
files = [
         "prediction/prediction.csv", 
         "test_data/test_LABELS.csv", 
         "test_data/test_feature_names.csv", 
         "test_data/test_expression.csv.gz", 
         "train_data/train_labels.csv", 
         "train_data/train_feature_names.csv", 
         "train_data/train_expression.csv.gz"
         ]
urls = [PATH + x for x in files]
urls

['https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/prediction/prediction.csv',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/test_data/test_LABELS.csv',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/test_data/test_feature_names.csv',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/test_data/test_expression.csv.gz',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/train_data/train_labels.csv',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/train_data/train_feature_names.csv',
 'https://raw.githubusercontent.com/dderaad/Hackathon-Summer-2021/main/train_data/train_expression.csv.gz']

In [3]:
# The datasets are read into a python dictionary with their simplified path names as their keys
 
data_sets = {}
for url, file_name in zip(urls, files):
  data_sets[file_name] = pd.read_csv(url)
 
for data_set_name in data_sets:
  print(data_set_name, "\n", data_sets[data_set_name].head(5), "\n")

prediction/prediction.csv
          age sample_id
0  57.144041  12fa2c69
1  57.144041  4d41ce5f
2  57.144041  82f6b2bb
3  57.144041  81161a04
4  57.144041  4370df33

test_data/test_LABELS.csv
   sample_id group
0  12fa2c69     C
1  4d41ce5f     A
2  82f6b2bb     C
3  81161a04     A
4  4370df33     B

test_data/test_feature_names.csv
               gene_id    symbol
0  ENSG00000000003.14    TSPAN6
1   ENSG00000000005.5      TNMD
2  ENSG00000000419.12      DPM1
3  ENSG00000000457.13     SCYL3
4  ENSG00000000460.16  C1orf112

test_data/test_expression.csv.gz
    ENSG00000000003.14  ENSG00000000005.5  ...  ENSG00000283698.1  ENSG00000283699.1
0              216130               3724  ...                  1                  1
1              196089                671  ...                 48                  0
2              455669             123617  ...                  1                  0
3               92006                400  ...                 28                  1
4              311516             108041  ...                 76                  1

[5 rows x 52935 columns]

train_data/train_labels.csv
   sample_id  age group
0  e1b41edc   55     A
1  234e8e31   62     A
2  df005c89   52     A
3  818437b2   42     A
4  8b7f7e4d   63     A

train_data/train_feature_names.csv
               gene_id    symbol
0  ENSG00000000003.14    TSPAN6
1   ENSG00000000005.5      TNMD
2  ENSG00000000419.12      DPM1
3  ENSG00000000457.13     SCYL3
4  ENSG00000000460.16  C1orf112

train_data/train_expression.csv.gz
    ENSG00000000003.14  ENSG00000000005.5  ...  ENSG00000283698.1  ENSG00000283699.1
0               62713                192  ...                  1                  1
1              124182               4870  ...                 46                  1
2              285105                385  ...                 48                  1
3              277543                480  ...                 48                  0
4               89628                288  ...                  1                  0

[5 rows x 52935 columns]

In [4]:
labelled_training_data = pd.concat([data_sets["train_data/train_labels.csv"],
                                    data_sets["train_data/train_expression.csv.gz"] 
                                    ], axis=1)
labelled_training_data.head(10)

  sample_id  age group  ...  ENSG00000283697.1  ENSG00000283698.1  ENSG00000283699.1
0  e1b41edc   55     A  ...               8265                  1                  1
1  234e8e31   62     A  ...               3797                 46                  1
2  df005c89   52     A  ...              13738                 48                  1
3  818437b2   42     A  ...               7445                 48                  0
4  8b7f7e4d   63     A  ...               6047                  1                  0
5  65846c93   77     A  ...               4211                399                  0
6  3441dfca   50     A  ...              16639                  0                  1
7  6154586c   45     A  ...               6915                  1                  0
8  0461af0f   36     A  ...               3405                  0                  0
9  7ff30dd6   48     A  ...               4951                 90                  1

[10 rows x 52938 columns]

In [5]:
labelled_testing_data = pd.concat([data_sets["test_data/test_LABELS.csv"],
                                    data_sets["test_data/test_expression.csv.gz"] 
                                    ], axis=1)
labelled_testing_data.head(10)

  sample_id group  ...  ENSG00000283698.1  ENSG00000283699.1
0  12fa2c69     C  ...                  1                  1
1  4d41ce5f     A  ...                 48                  0
2  82f6b2bb     C  ...                  1                  0
3  81161a04     A  ...                 28                  1
4  4370df33     B  ...                 76                  1
5  0663bdbc     A  ...                 52                  0
6  1e34b941     A  ...                  0                  1
7  773c6281     A  ...                  0                  0
8  b8bf4c5d     C  ...                 84                  0
9  c59deb25     A  ...                116                  0

[10 rows x 52937 columns]

In [6]:
#labelled_testing_data.describe()

       ENSG00000000003.14  ...  ENSG00000283699.1
count        9.650000e+02  ...         965.000000
mean         3.109436e+05  ...           5.164767
std          2.624927e+05  ...          30.954236
min          8.332000e+03  ...           0.000000
25%          1.575950e+05  ...           0.000000
50%          2.505030e+05  ...           0.000000
75%          3.868320e+05  ...           1.000000
max          4.101232e+06  ...         599.000000

[8 rows x 52935 columns]

In [7]:
#labelled_training_data.describe()

              age  ENSG00000000003.14  ...  ENSG00000283698.1  ENSG00000283699.1
count  965.000000        9.650000e+02  ...         965.000000         965.000000
mean    54.144041        2.688726e+05  ...          30.846632           4.958549
std     13.327155        2.017592e+05  ...          65.925830          16.841350
min     24.000000        1.277300e+04  ...           0.000000           0.000000
25%     44.000000        1.694790e+05  ...           0.000000           0.000000
50%     54.000000        2.313810e+05  ...           1.000000           0.000000
75%     64.000000        3.151150e+05  ...          48.000000           1.000000
max     90.000000        3.165934e+06  ...        1000.000000         217.000000

[8 rows x 52936 columns]

In [8]:
from sklearn.dummy import DummyClassifier
strategies = ["most_frequent", "uniform", "constant"]
dummy_classifiers = {f"Dummy Classifier ({i})": DummyClassifier(i, constant=np.median(labelled_training_data["age"])) for i in strategies}

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF

clfs = {
    "Decision Tree (depth 5)": DecisionTreeClassifier(max_depth=5),
    "Random Forest (depth 5)": RandomForestClassifier(max_depth=5),
    #"AdaBoost": AdaBoostClassifier(),
    "Linear SVM": SVC(kernel="linear", C=0.025),
    "RBF SVM": SVC(gamma=2, C=1),
    #"Gaussian Process": GaussianProcessClassifier(1.0 * RBF(1.0))
}
 
classifiers = {}
classifiers.update(dummy_classifiers)
classifiers.update(clfs)

In [9]:
# format: X, y
Xy_data_set = [
               labelled_training_data.drop(["sample_id", "group", "age"], axis=1),
               labelled_training_data["age"]
               ]
Xy_data_set
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(Xy_data_set[0])
Xy_data_set_scaled = Xy_data_set
Xy_data_set_scaled[0] = scaler.transform(Xy_data_set[0])
 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xy_data_set_scaled[0], Xy_data_set_scaled[1], test_size=0.15, random_state=1)
X_train

array([[-0.76579728, -0.44928642, -0.72413344, ..., -0.65322974,
         0.07820971, -0.29457974],
       [-0.48963698, -0.40206117, -0.46431108, ..., -0.40155247,
        -0.4377888 , -0.29457974],
       [ 1.67088383,  0.61983771, -0.26839749, ..., -0.55758705,
        -0.45296523, -0.23517129],
       ...,
       [-0.77398455, -0.47955117, -0.42146899, ..., -0.48987895,
        -0.2101424 , -0.17576283],
       [-0.0281747 , -0.54408681,  1.73939505, ...,  2.30105172,
        -0.46814166, -0.29457974],
       [ 0.44333446, -0.52646153, -0.23893451, ...,  0.28350987,
        -0.45296523, -0.23517129]])

In [10]:
from sklearn.metrics import mean_squared_error
 
for clf_name in classifiers:
  classifiers[clf_name].fit(X_train, y_train)
  score = classifiers[clf_name].score(X_test, y_test)
  y_pred = classifiers[clf_name].predict(X_test)
  print(f'{clf_name}\nMSE: {mean_squared_error(y_test, y_pred)} \n{score}\n')

Dummy Classifier (most_frequent)
MSE: 142.10344827586206
0.2689655172413793

Dummy Classifier (uniform)
MSE: 428.82758620689657
0.034482758620689655

Dummy Classifier (constant)
MSE: 142.10344827586206
0.2689655172413793

Decision Tree (depth 5)
MSE: 222.46896551724137
0.19310344827586207

Random Forest (depth 5)
MSE: 144.7103448275862
0.2689655172413793

Linear SVM
MSE: 161.39310344827587
0.27586206896551724

RBF SVM
MSE: 142.10344827586206
0.2689655172413793

In [11]:
Xy_data_set_scaled[0]

array([[-1.02233988, -0.54240738, -0.00859682, ..., -0.00341818,
        -0.45296523, -0.23517129],
       [-0.71751671, -0.50148874, -0.40913128, ..., -0.59775964,
         0.22997398, -0.23517129],
       [ 0.08049625, -0.5407192 , -0.33234964, ...,  0.72461021,
         0.26032683, -0.23517129],
       ...,
       [-0.23293073, -0.0073686 , -0.55359677, ..., -0.68528799,
        -0.45296523, -0.23517129],
       [-0.45183968,  0.07460863, -0.54724711, ..., -0.51382288,
        -0.4377888 , -0.29457974],
       [-0.16065369, -0.29929223, -0.61829382, ..., -0.59563129,
         1.77796952, -0.23517129]])